
body{
    background:rgb(3, 3, 48) ;
}
.volver a{
    color: green;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}
.containernavegar{
    display: flex;
    justify-content: space-between;
}
form{

    width: 30%;
    padding: 10px;
    box-shadow: rgb(5, 235, 24) 2px 3px 4px;
    border-radius: 40px 0px ;
   animation: for 4s 2;
}
@keyframes for{
   
10%{box-shadow: rgb(210, 247, 3) 1px  ;}
20%{box-shadow: blue 1px 5px ;}
30%{box-shadow: rgb(39, 228, 1) 1px 5px 5px  ;}
30%{box-shadow: blue 1px 5px 5px 5px ;}
100%{box-shadow: blue 1px 5px 5px 5px ;}
}

.formularioalgorimos{
    display: flex;
    justify-content: center;
align-items: center;
margin-top: 60px;

}

label, textarea {
    display: block;
    margin-bottom: 10px;
}
textarea {
    width: 400px;
    height: 150px;
}
h1{
    text-align: center;
    color: blue;
text-shadow: green 2px 1px 0px ,green 2px 1px 0px ,green 2px 1px 0px  ;
}
/* Estilos CSS para el botón de descarga */
#download-button {
    display: none;
    margin-top: 10px;
}
input,select{
    width: 90%;
    padding: 10px;
}
label{
color: azure;
}
.PDF{
    width:10%;
    padding: 10px;
      
}
button{
margin-left: 4px;
  border-radius: 20px;
    padding: 10px;
    width: 93%;
}
input{

    color: white;
}
.btnbotones{
    display: flex;
}

